{% extends 'base.html' %}

{% load bootstrap4 %}

{% load static %}
{% block title %}
Index Page
{% endblock %}

{% block body %}

<div class="row">
    {% for pizza in pizzas %}
    <div class="col pizza">
        <h3>Пицца:</h3><a href="/{{ pizza.id }}"><h3>{{ pizza.name }} </h3></a>
        <h3>Описание: {{ pizza.desc }} </h3>
        <h3>Цена: {{ pizza.price|floatformat:"2" }} </h3>

        <img src="{{  pizza.photo.url }}" alt="{{ pizza.name }}" style="width:200px">


    </div>
    {% endfor %}
    {% endblock %}

</div>
